main{
    background: rgb(103, 170, 224);
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 65%;
}
.sidebar{
    width: 35%;
    padding: 15px;
}
h4{
    background: black;
    color: white;
    height: 80px;
    padding: 5px 15px;
    width: 80%;
    margin: auto;
}
.sidebar h4{
    margin-top: 48px;
    font-size: 19px;
}
.sidebar p{
    padding-left: 35px;
}
.sidebar p img{
    width: 15px;
    margin-right: 10px;
    margin-bottom: 4px;
}
.img{
    padding: 10px 36px;
    display: flex;
    flex-wrap: wrap;
}
#card img{
    padding-top: 40px;
    height: 231px;
    margin-top: 50px;
    width: 90%;
}
.liens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 55%;
    margin: auto;
    padding-bottom: 30px;
}

.sociaux{
    width: 60%;
    background: black;
    justify-content: space-between;
}
.sociaux p{
    color: white;
    padding: 5px 5px;
    border: 1px solid white;
}
.lorem{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer{
    background: black;
    display: flex;
    height: 210px;
    margin-top: -25px;
}
.vides{
    width: 90%;
    height: 65px;
    background: black;
    margin: auto;
    padding: 14px;
    display: flex;
    font-size: 10px;
}
.carte{
    width: 41%;
    display: inline-block;
    height: 210px;
}
.vide{
    width: 25%;
    HEIGHT:35px;
    background: white;
    margin-right: 20px;
}
.card img {
    width: 230px;
}
.card{
    width: 16rem;
}
@media screen and (max-width :1024px ) {
     .cards{
        width: 100%;
        
    }
    .sidebar{
        display: none;
    }
}
@media screen and (max-width :500px ) {
    .vide {
        width: 27%;
        HEIGHT: 50px;
        background: white;
        margin-right: 20px;
    }
    .vides{
        font-size: 6px;
    }
}